/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/02/2017, 05:03:27 PM
    Author     : Jonathan
*/

html,body{
    height: 100%;
}

.chat{
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 350px;
}

.chat li{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
    display: list-item;
    text-align: -webkit-match-parent;
}
.chat-body{
    display: block;
}
.small{
  align-content: flex-end;  
}

.chat li .chat-body{
    margin: 0;
    color: #777777;
    wight:100%;
}

.panel .slidedown .glyphicon, .chat .glyphicon{
    margin-right: 5px;
}
img{
    max-height:30px;
    max-width: 30px;
    float: left!important;
}
.panel-body{
    overflow-y: scroll;
    height: 250px;
}
